body {
  font-family: Arial, sans-serif;
}

h3 {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  font-weight: bold;
}

#instructions {
  text-align: center;
  margin-bottom: 30px;
  font-size: 16px;
}

.entireTrack {
  background-color: green;
  float: right;
}

#racetrack {
  width: 900px;
  height: 300px;
  border: 2px solid #4b4f4f;
  margin-left: 5%;
  margin-right: 5%;
}

.flag {
  margin-right: 1px;
  padding-bottom: 20px;
}

#resetButton {
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 45%;
  margin-right: 45%;
  background-color: #f4f6f9;
  border: 1px solid #4b4f4f;
}
